<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NPR News Scraper</title>

    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
    <header>
        <logo><a href="/">NPR News Scrapper</a></logo>
        <nav>
            <a href="/scrape">Scrape News</a>
        </nav>
    </header>
    {{{body}}}
</body>
<script src="app.js"></script>

</html>