<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NPR News Scraper</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
    <header>
        <logo><a href="/">NPR News Scraper</a></logo>
        <nav>
            <ul>
            <li><a href="/scrape">Scrape News</a></li>
            <li><a id="saved-articles" href="/saved">Favorite Articles</a></li>
            <li><a id="clear-articles" href="/#">Clear Articles</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
</body>
<script src="app.js"></script>

</html>